head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
  link(rel='stylesheet' href='css/info.css')
  title Emre Sengul | Questions About File Upload
h1 Questions About File Upload
.container
  button.accordion
    | Which Pictures Available
    div
      i.arrow
  .accordion-content
    p
      | All image types are suitable. You cannot upload files other than pictures.
  button.accordion
    | Is It Forbidden To Upload Files?
    div
      i.arrow
  .accordion-content
    p
      | Yes, upload files is prohibited
  button.accordion
    | Can The File Be Uploaded?
    div
      i.arrow
  .accordion-content
    p
      | We're working on that 🥰
      script(src="js/info.js")
